<html>
    <head>
        <title>lib</title>
    </head>
    <script src="/public/static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/public/static/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/fontawesome/css/all.css"/>
    <link rel="stylesheet" href="/public/fontawesome/css/fontawesome.css"/>
    <link rel="stylesheet" href="/public/style/app.css"/>
    <link rel="stylesheet" href="/public/font-awesome-animation/css/font-awesome-animation.css"/>
    <script src="/public/fontawesome/js/all.js"></script>
    <script src="/public/static/js/popper.min.js"></script>
    <script src="/public/static/js/jquery.slim.min.js"></script>
    <script src="/public/static/js/bootstrap.min.js"></script>